/* line 1, ../../app/assets/stylesheets/print.css.scss */
.sidebar-nav-fixed {
  position: static;
  top: 50px;
  width: auto;
  display: none;
}

/* line 8, ../../app/assets/stylesheets/print.css.scss */
.navbar {
  display: none !important;
}

/* line 12, ../../app/assets/stylesheets/print.css.scss */
body {
  margin: 0px;
}

/* line 17, ../../app/assets/stylesheets/print.css.scss */
.container-fluid {
  width: 90%;
  margin: 0px;
  float: none;
}

/* line 23, ../../app/assets/stylesheets/print.css.scss */
.do-not-print {
  display: none;
}

/* line 27, ../../app/assets/stylesheets/print.css.scss */
.do-print {
  display: inline !important;
  visibility: visible !important;
}

/* line 32, ../../app/assets/stylesheets/print.css.scss */
#article_new_collaborator {
  display: none !important;
}

/* line 36, ../../app/assets/stylesheets/print.css.scss */
blockquote {
  border: 0px;
}

@page {
  size: auto;
  /* this affects the margin in the printer settings */
  margin: 11mm 6mm 6mm 11mm;
}
/* line 48, ../../app/assets/stylesheets/print.css.scss */
.paragraph-btn-toolbar {
  display: none !important;
}
