<div class="sidebar-item">
  <h3>Current Projects</h3>
  <ul>
    <li>
      {% categorylink the-house %}
      The House
      {% endcategorylink %}
    </li>

    <li>
      {% categorylink the-website %}
      The Website
      {% endcategorylink %}
    </li>

    <li>
      <a href="http://opengovhacknight.com" target='_blank'>
        Open Government Hack Night
      </a>

      <ul>
        <li>
          <a href="/projects/my-building-doesnt-recycle/">
            My Building Doesn't Recycle
          </a>
        </li>
      </ul>
    </li>

    <li>
      Theatre and Lighting

      <ul>
        <li>
          <a href="/category/synesthesia">
            Synesthesia
          </a>
        </li>
        <li>
          <a href="/lighting/node-js/nerd-stuff/make-stuff/2015/10/23/midi-show-control">
            Midi Show Control for Node.js
          </a>
        </li>
      </ul>
    </li>

  </ul>
</div>
