@mixin column-count($cols) {
  -webkit-column-count: $cols;
     -moz-column-count: $cols;
          column-count: $cols;
}

@mixin column-width($width) {
  -webkit-column-width: $width;
     -moz-column-width: $width;
          column-width: $width;
}

@mixin column-gap($gap) {
  -webkit-column-gap: $gap;
     -moz-column-gap: $gap;
          column-gap: $gap;
}

@mixin no-columns() {
	@include column-count(auto);
	@include column-width(auto);
}


@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}


@mixin throbber-keyframes {
  0%   { opacity: 1;  }
  75%  { opacity: .5; }
  100% { opacity: 1;  }
}

@-webkit-keyframes throbber {
  @include throbber-keyframes();
}

@-moz-keyframes throbber {
  @include throbber-keyframes();
}

@-o-keyframes throbber {
  @include throbber-keyframes();
}

@keyframes throbber {
  @include throbber-keyframes();
}


@mixin throbber($t:1s, $reps:infinite) {
  -webkit-animation: throbber $t $reps linear ;
  -moz-animation:    throbber $t $reps linear ;
  -o-animation:      throbber $t $reps linear ;
  animation:         throbber $t $reps linear ;
}

@mixin bmw-spin() {
  -webkit-animation: bmw-spin 2s infinite linear;
          animation: bmw-spin 2s infinite linear;
}

@-webkit-keyframes bmw-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes bmw-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}  
