@include media-query($on-laptop) {

	// these items have a sidebar
	.post-list .post,
	.gallery .item {
		width: 50%;

		&.emphasize {
			float: none;
			width: 100%;
		}
	}

	.post.album.has-meta .meta dl {
		width: 50%;
	}

}