@include media-query($on-palm) {


	.post.album.has-meta {
		.meta dl {
			width: 50%;
			float: left;
			margin-right: 0;
			margin-left: 0;

			&:nth-child(2n) {
				text-align: right;
			}
		}
	}

	.portfolio-list .item,
	.gallery .item,
	.post-list .post
	{
		float: none;
		width: 100%;
	}

}