@include media-query($on-tablet) {

	.has-sidebar {
		padding-left: 0;
	}

	.sidebar-sidebar {
		border-top: 1px solid #eee;
		float: none;
		margin-left: 0;
		margin-top: 2em;
		padding: 2.5em 2em 2em;
		width: auto;

		.sidebar-item {

			margin-bottom: 1.5em;

			ul li {
				display: inline;

				&:after {
					color: #999;
					content: "\2022"
				}

				&:last-child:after {
					content: "";
				}

				ul {
					display: inline;
					font-size: medium;
					padding-left: 0;

					li {
						display: inline;

						&:after {
							content: "";
						}

						&:before {
							color: #999;
							content: "\2022"
						}
					}
				}
			}
		}
	}

	.sidebar-main {
		float: none;
		width: auto;

		.post.single {
			max-width: none;
		}
	}

	.post.album.has-meta {

		.post-header {
			width: auto;
			float: none;
		}

		.meta {
			width: auto;
			float: none;
			margin-left: 0;

			dl {
				float: left;
				width: auto;
				margin-right: 2em;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

  .portfolio-list .item {
  	width: 50%;

  	&.emphasize {
  		float: none;
  		width: 100%;
  	}
  }

}
