---
layout: default
---
{% assign group = site.data.albums[page.albumGroup] %}
{% assign album = group.albums[page.albumKey] %}
  <div class="post album {% if album.meta %}has-meta{% endif %} ">

  <p class='quiet'><a href='{{group.url}}'>{{group.title}}</a></p>
  <header class="post-header">
    <h1 class="post-title">{{ album.title }}</h1>
    {% if album.subtitle %}<h2>{{album.subtitle}}</h2>{% endif %}
  </header>

  <aside class='meta'>
  {% for item in album.meta %}
  <dl>
    <dt>{{item[0]}}</dt>
    <dd>{{item[1]}}</dd>
  </dl>
  {% endfor %}
  </aside>

  <hr class='clear' />

  <article class="post-content">
    {{ album.description }}
  </article>

  {% assign images = album.images %}
  {% include gallery.html %}
</div>
