---
layout: default
---

{% assign section = site.data.albums[page.albumGroup] %}
<div class="portfolio">

  <header class="post-header">
    <h1 class="post-title">{{ section.title }}</h1>
  </header>

  <article class="post-content">
    {% if section.description %}
    {{ section.description | markdownify }}
    <hr />
    {% endif %}

    <div class="portfolio-list packery">
    {% for album in section.albums %}
  	<div class="item pack {% if album[1].emphasize %}emphasize{% endif %}">
        {% if album[1].emphasize %}
        {% assign size = 'medium' %}
        {% else %}
        {% assign size='thumbs' %}
        {% endif %}


        {% capture imageIdx %}files/{{size}}/{{album[1].images[0].src}}{% endcapture %}
        {% assign imageInfo = site.data.images[imageIdx] %}

  		<a href='{{ album[0] }}'>
        <img src='{{ site.cdn_path }}/{{size}}/{{album[1].images[0].src}}' data-aspect="{{imageInfo.aspect}}" />
      </a>

      <div class="caption">
        <a href='{{ album[0] }}'>
          <em>{{album[1].title}}</em>
          <br>{{album[1].subtitle}}
        </a>
      </div>
  	</div>
    {% endfor %}
    </div>
  </article>

</div>
